// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:  local('Inconsolata'),
        font-url('inconsolata.ttf') format('truetype'),
        font-url('inconsolata.woff') format('woff');
}
